@{ var guid = Guid.NewGuid();}


<!DOCTYPE html>
<html>
<head>
    <title>OrganicFoods</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/aos.css">
    <link rel="stylesheet" href="~/Content/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Content/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/Content/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/css/icomoon.css">
    <link rel="stylesheet" href="~/Content/css/style.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("Styles", false)
</head>

<body>
    <div class="py-1 bg-primary">
        <div class="container">
            <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
                <div class="col-lg-12 d-block">
                    <div class="row d-flex">
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                            <span class="text">+55 43 9XXXX XXXX</span>
                        </div>
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                            <span class="text">organicos@gmail.com</span>
                        </div>
                        <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                            <span class="text">Compra e Venda de Produtos Orgânicos</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">Orgânicos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            @if (Context.User.Identity != null && Context.User.Identity.Name != null && Context.User.Identity.Name != "")
            {
                
                if (TGOrganicos.Web.Models.Credential.IsProdutor())
                {
                    <div class="collapse navbar-collapse" id="ftco-nav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active"><a href="@Url.Action("Index", "Home")" class="nav-link">Inicio</a></li>

                            <li class="nav-item"><a href="@Url.Action("Index", "Produto")" class="nav-link">Vender</a></li>

                            <li class="nav-item"><a href="@Url.Action("Index", "Pedido")" class="nav-link">Minhas Vendas</a></li>
                            <li class="nav-item"><a href="@Url.Action("LogOff", "Login")" class="nav-link">Sair</a></li>
                        </ul>
                    </div>
                }
                else if (TGOrganicos.Web.Models.Credential.IsCliente())
                {
                    <div class="collapse navbar-collapse" id="ftco-nav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active"><a href="@Url.Action("Index", "Home")" class="nav-link">Inicio</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="@Url.Action("Index", "Produto")" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Comprar</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown04">
                                    <a class="dropdown-item" href="@Url.Action("Index", "Produto", new { tipo = 1})">Vegetais</a>
                                    <a class="dropdown-item" href="@Url.Action("Index", "Produto", new { tipo = 2})">Frutas</a>
                                    <a class="dropdown-item" href="@Url.Action("Index", "Produto", new { tipo = 3})">Sucos</a>
                                    <a class="dropdown-item" href="@Url.Action("Index", "Produto", new { tipo = 4})">Grãos</a>
                                    <a class="dropdown-item" href="@Url.Action("Index", "Produto", new { tipo = 0})">Ver tudo</a>
                                </div>
                            </li>
                            <li class="nav-item"><a href="@Url.Action("Index", "Pedido")" class="nav-link">Meus Pedidos</a></li>
                            <li class="nav-item cta cta-colored">
                                <a href="@Url.Action("Carrinho", "Pedido")" class="nav-link">
                                    <span class="icon-shopping_cart"></span>
                                    [ <input id="qtdcarrinho" disabled style="box-shadow: 0 0 0 0; border: 0 none; outline: 0; width: 8%; background-color: white;" value="0"/> ]
                                </a>
                            </li>

                            <li class="nav-item"><a href="@Url.Action("LogOff", "Login")" class="nav-link">Sair</a></li>
                        </ul>
                    </div>
                }

            }
            else
            {
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a href="@Url.Action("Index", "Home")" class="nav-link">Inicio</a></li>
                        <li class="nav-item"><a href="@Url.Action("About", "Home")" class="nav-link">Sobre</a></li>
                        <li class="nav-item"><a href="@Url.Action("Cadastro", "Usuario")" class="nav-link">Cadastre-se</a></li>
                        <li class="nav-item"><a href="@Url.Action("Index", "Login")" class="nav-link">Login</a></li>
                    </ul>
                </div>
            }

        </div>
    </nav>
    <!-- END nav -->

    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer class="ftco-footer ftco-section">
            <div class="container">
                <div class="row">
                    <div class="mouse">
                        <a href="#" class="mouse-icon">
                            <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                        </a>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md">
                        <div class="ftco-footer-widget mb-4">
                            <h2 class="ftco-heading-2">Orgânicos</h2>
                            <p>Nossa prioridade é você!</p>
                            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="ftco-footer-widget mb-4 ml-md-5">
                            <h2 class="ftco-heading-2">Menu</h2>
                            <ul class="list-unstyled">
                                <li><a href="#" class="py-2 d-block">Comprar</a></li>
                                <li><a href="#" class="py-2 d-block">Sobre</a></li>
                                <li><a href="#" class="py-2 d-block">Nosso Jornal</a></li>
                                <li><a href="#" class="py-2 d-block">Contato</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ftco-footer-widget mb-4">
                            <h2 class="ftco-heading-2">Ajuda</h2>
                            <div class="d-flex">
                                <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                                    <li><a href="#" class="py-2 d-block">Informações sobre compra.</a></li>
                                    <li><a href="#" class="py-2 d-block">Falar com suporte.</a></li>
                                    <li><a href="#" class="py-2 d-block">Termos e Condições</a></li>
                                    <li><a href="#" class="py-2 d-block">Política de Privacidade</a></li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li><a href="#" class="py-2 d-block">FAQs</a></li>
                                    <li><a href="#" class="py-2 d-block">Contatos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="ftco-footer-widget mb-4">
                            <h2 class="ftco-heading-2">Alguma dúvida?</h2>
                            <div class="block-23 mb-3">
                                <ul>
                                    <li><a href="#"><span class="icon icon-phone"></span><span class="text">+55 43 9XXXX XXXX</span></a></li>
                                    <li><a href="#"><span class="icon icon-envelope"></span><span class="text"> suporte@gmail.com</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">

                        <p>
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> Todos os direitos reservados | Desenvolvido por <a href="https://colorlib.com" target="_blank">Karla Ruvina</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/js/jquery.stellar.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/aos.js"></script>
    <script src="~/Content/js/jquery.animateNumber.min.js"></script>
    <script src="~/Content/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/Content/js/google-map.js"></script>
    <script src="~/Content/js/main.js"></script>

    <script>
        $("#qtdcarrinho").val(localStorage.getItem("qtdcarrinho" + 1));
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
