@using TGOrganicos.Data
@model TGOrganicos.Web.Models.Usuarios

<style>

    .ftco-section {
        padding-top: 6em 0 !important;
        padding-bottom: 0 !important;
    }

</style>

<section class="py-5 bg-light">
    <div class="container">
        <div class="row no-gutters ftco-services">
            <div class="col-lg-3" "></div>
            <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4" id="prod">
                    <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-shipped"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Produtor</h3>
                        <span>Se deseja vender</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4" id="cli">
                    <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-diet"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Cliente</h3>
                        <span>Se deseja comprar</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</section>


@using (Html.BeginForm("Salvar", "Usuario", FormMethod.Post, new { @class = "form-users", role = "form", @id = "form-users", @autocomplete = "off", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(c => c.User.Id)
    @Html.HiddenFor(c => c.User.TipoUsuario, new { @class = "tipousuario" })

    <div class="ftco-section" id="produtor">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12 ftco-animate">
                    <h3 class="mb-4 billing-heading">Cadastrar-se como Produtor</h3>
                    <div class="row align-items-end">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="firstname">Nome</label>
                                @Html.TextBoxFor(c => c.User.Nome, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="w-100"></div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="country">Email</label>
                                @Html.TextBoxFor(c => c.User.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="country">Senha</label>
                                @Html.PasswordFor(c => c.User.Senha, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="w-100"></div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="country">CPF/CNPJ</label>
                                @Html.TextBoxFor(c => c.User.CPF, new { @class = "form-control cpf-cnpj" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="country">Telefone</label>
                                @Html.TextBoxFor(c => c.User.Telefone, new { @class = "form-control telefone" })
                            </div>
                        </div>

                        <div class="w-100"></div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="streetaddress">CEP</label>
                                @Html.TextBoxFor(c => c.User.CEP, new { @class = "form-control cep" })
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="towncity">Cidade</label>
                                @Html.TextBoxFor(c => c.User.Cidade, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="towncity">UF</label>
                                @Html.TextBoxFor(c => c.User.UF, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="w-100"></div>

                        <div class="col-md-10">
                            <div class="form-group">
                                <label for="postcodezip">Logradouro</label>
                                @Html.TextBoxFor(c => c.User.Logradouro, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="postcodezip">Numero</label>
                                @Html.TextBoxFor(c => c.User.Numero, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="w-100"></div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phone">Bairro</label>
                                @Html.TextBoxFor(c => c.User.Bairro, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="emailaddress">Complemento</label>
                                @Html.TextBoxFor(c => c.User.Complemento, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="cert">Certificado Orgânico</label>
                                <input type="file" class="form-control" placeholder="Inserir Certificado" id="Certificado" name="Certificado" />
                            </div>
                        </div>
                        <div class="w-100"></div>

                        <div class="col-md-12">
                            <div class="form-group text-center mt-4">
                                <div class="checkbox">
                                    <label class="mr-3">@Html.CheckBoxFor(c => c.UserProd.AceitaPix) Aceita Pix? </label>
                                    <label class="mr-3">@Html.CheckBoxFor(c => c.UserProd.AceitaCartao) Aceita Cartão? </label>
                                    <label class="mr-3">@Html.CheckBoxFor(c => c.UserProd.RealizaEntrega) Realiza Entrega? </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ftco-section" id="cliente">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12 ftco-animate">
                    <h3 class="mb-4 billing-heading">Cadastrar-se como Produtor</h3>
                    <div class="row align-items-end">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="firstname">Nome</label>
                                @Html.TextBoxFor(c => c.User.Nome, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="w-100"></div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="country">Email</label>
                                @Html.TextBoxFor(c => c.User.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="country">Senha</label>
                                @Html.PasswordFor(c => c.User.Senha, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="w-100"></div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="country">CPF/CNPJ</label>
                                @Html.TextBoxFor(c => c.User.CPF, new { @class = "form-control cpf-cnpj" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="country">Telefone</label>
                                @Html.TextBoxFor(c => c.User.Telefone, new { @class = "form-control telefone" })
                            </div>
                        </div>

                        <div class="w-100"></div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="streetaddress">CEP</label>
                                @Html.TextBoxFor(c => c.User.CEP, new { @class = "form-control cep" })
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="towncity">Cidade</label>
                                @Html.TextBoxFor(c => c.User.Cidade, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="towncity">UF</label>
                                @Html.TextBoxFor(c => c.User.UF, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="w-100"></div>

                        <div class="col-md-10">
                            <div class="form-group">
                                <label for="postcodezip">Logradouro</label>
                                @Html.TextBoxFor(c => c.User.Logradouro, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="postcodezip">Numero</label>
                                @Html.TextBoxFor(c => c.User.Numero, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="w-100"></div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phone">Bairro</label>
                                @Html.TextBoxFor(c => c.User.Bairro, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="emailaddress">Complemento</label>
                                @Html.TextBoxFor(c => c.User.Complemento, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="w-100"></div>

                        <div class="col-md-12">
                            <div class="form-group text-center mt-4">
                                <div class="checkbox">
                                    <label class="mr-3">@Html.CheckBoxFor(c => c.UserCli.AceitaReceberEmail) Aceita Receber Emails? </label>
                                    <label class="mr-3">@Html.CheckBoxFor(c => c.UserCli.AceitaReceberSMS) Aceita Receber SMS? </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container botaosalvar">
        <div class="text-center py-3">
            <button class="btn btn-primary" type="submit">Salvar</button>
        </div>
    </div>

}

@section Scripts{

    <script src="~/Scripts/jquery.mask.js"></script>
    <script src="~/Scripts/jquery.maskMoney.min.js.js"></script>

    <script>

        $(document).ready(function () {

            formatInputs()

            $("#produtor").hide();
            $("#cliente").hide();
            $(".botaosalvar").hide();


            $(document).on("click", "#prod", function () {
                $("#produtor").show();
                $("#cliente").hide();
                $(".botaosalvar").show();

                $(".tipousuario").val(1);
            });

            $(document).on("click", "#cli", function () {
                $("#cliente").show();
                $("#produtor").hide();
                $(".botaosalvar").show();

                $(".tipousuario").val(2);
            });

        });


        function formatInputs() {

            $(".cep").mask("00000-000");
            $('.telefone').mask('(00) 00009-0000');
            var maskCpfCnpj = function (val) {
                return val.replace(/\D/g, '').length < 12 ? '000.000.000-009' : '00.000.000/0000-00';
            },
                optionsCpfCnpj = {
                    onKeyPress: function (val, e, field, options) {
                        field.mask(maskCpfCnpj.apply({}, arguments), options);
                    }
                };

            $('.cpf-cnpj').mask(maskCpfCnpj, optionsCpfCnpj);

        }


    </script>
}
