@using TGOrganicos.Data
@model TGOrganicos.Web.Models.Usuarios


<section class="ftco-section bg-light">
    <div class="container">
        <div class="row no-gutters ftco-services">
            <div class="col-lg-3" "></div>
            <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4" id="prod">
                    <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-shipped"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Produtor</h3>
                        <span>Se deseja vender</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4" id="cli">
                    <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-diet"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Cliente</h3>
                        <span>Se deseja comprar</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</section>


@using (Html.BeginForm("Salvar", "Usuario", FormMethod.Post, new { @class = "form-users", role = "form", @id = "form-users", @autocomplete = "off", enctype = "multipart/form-data" }))
{

<div class="ftco-section" id="produtor">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 ftco-animate">
                <h3 class="mb-4 billing-heading">Cadastrar-se como Produtor</h3>
                <div class="row align-items-end">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="firstname">Nome</label>
                            @Html.TextBoxFor(c => c.User.Nome, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="w-100"></div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="country">CPF/CNPJ</label>
                            @Html.TextBoxFor(c => c.User.CPF, new { @class = "form-control cpf-cnpj" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="country">Telefone</label>
                            @Html.TextBoxFor(c => c.User.Telefone, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="w-100"></div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="streetaddress">CEP</label>
                            @Html.TextBoxFor(c => c.User.CEP, new { @class = "form-control cep" })
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="towncity">Cidade</label>
                            @Html.TextBoxFor(c => c.User.Cidade, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="towncity">UF</label>
                            @Html.TextBoxFor(c => c.User.UF, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="w-100"></div>

                    <div class="col-md-10">
                        <div class="form-group">
                            <label for="postcodezip">Logradouro</label>
                            @Html.TextBoxFor(c => c.User.Logradouro, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="postcodezip">Numero</label>
                            @Html.TextBoxFor(c => c.User.Numero, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="w-100"></div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="phone">Bairro</label>
                            @Html.TextBoxFor(c => c.User.Bairro, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="emailaddress">Complemento</label>
                            @Html.TextBoxFor(c => c.User.Complemento, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="emailaddress">Certificado Orgânico</label>
                            @Html.TextBoxFor(c => c.UserProd.CertificadoOrganico, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="w-100"></div>

                    <div class="col-md-12">
                        <div class="form-group text-center mt-4">
                            <div class="checkbox">
                                <label class="mr-3">@Html.CheckBoxFor(c=> c.UserProd.AceitaPix) Aceita Pix? </label>
                                <label class="mr-3">@Html.CheckBoxFor(c=> c.UserProd.AceitaCartao) Aceita Cartão? </label>
                                <label class="mr-3">@Html.CheckBoxFor(c=> c.UserProd.RealizaEntrega) Realiza Entrega? </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ftco-section" id="cliente">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 ftco-animate">
                <form action="#" class="billing-form">
                    <h3 class="mb-4 billing-heading">Cadastrar-se como cliente</h3>
                    <div class="row align-items-end">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstname">Firt Name</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastname">Last Name</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="country">State / Country</label>
                                <div class="select-wrap">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select name="" id="" class="form-control">
                                        <option value="">France</option>
                                        <option value="">Italy</option>
                                        <option value="">Philippines</option>
                                        <option value="">South Korea</option>
                                        <option value="">Hongkong</option>
                                        <option value="">Japan</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="streetaddress">Street Address</label>
                                <input type="text" class="form-control" placeholder="House number and street name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Appartment, suite, unit etc: (optional)">
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="towncity">Town / City</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="postcodezip">Postcode / ZIP *</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="emailaddress">Email Address</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group mt-4">
                                <div class="radio">
                                    <label class="mr-3"><input type="radio" name="optradio"> Create an Account? </label>
                                    <label><input type="radio" name="optradio"> Ship to different address</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form><!-- END -->
            </div>
            <div class="col-xl-5">
                <div class="row mt-5 pt-3">
                    <div class="col-md-12 d-flex mb-5">
                        <div class="cart-detail cart-total p-3 p-md-4">
                            <h3 class="billing-heading mb-4">Cart Total</h3>
                            <p class="d-flex">
                                <span>Subtotal</span>
                                <span>$20.60</span>
                            </p>
                            <p class="d-flex">
                                <span>Delivery</span>
                                <span>$0.00</span>
                            </p>
                            <p class="d-flex">
                                <span>Discount</span>
                                <span>$3.00</span>
                            </p>
                            <hr>
                            <p class="d-flex total-price">
                                <span>Total</span>
                                <span>$17.60</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="cart-detail p-3 p-md-4">
                            <h3 class="billing-heading mb-4">Payment Method</h3>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" class="mr-2"> Direct Bank Tranfer</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" class="mr-2"> Check Payment</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" class="mr-2"> Paypal</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="" class="mr-2"> I have read and accept the terms and conditions</label>
                                    </div>
                                </div>
                            </div>
                            <p><a href="#" class="btn btn-primary py-3 px-4">Place an order</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

}

@section Scripts{

    <script src="~/Scripts/jquery.mask.js"></script>
    <script src="~/Scripts/jquery.maskMoney.min.js.js"></script>

    <script>

        $(document).ready(function () {

            formatInputs()

            $("#produtor").hide();
            $("#cliente").hide();

            $(document).on("click", "#prod", function () {
                $("#produtor").show();
                $("#cliente").hide();
            });

            $(document).on("click", "#cli", function () {
                $("#cliente").show();
                $("#produtor").hide();
            });

        });


        function formatInputs() {

            $(".cep").mask("00000-000");

            var maskCpfCnpj = function (val) {
                return val.replace(/\D/g, '').length < 12 ? '000.000.000-009' : '00.000.000/0000-00';
            },
                optionsCpfCnpj = {
                    onKeyPress: function (val, e, field, options) {
                        field.mask(maskCpfCnpj.apply({}, arguments), options);
                    }
                };

            $('.cpf-cnpj').mask(maskCpfCnpj, optionsCpfCnpj);

        }


    </script>
}
