@model TGOrganicos.Data.Produto

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div></div>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 ftco-animate">
                <a href="images/product-1.jpg" class="image-popup"><img src="@(Model.Imagem != null && Model.Imagem != "" ? Model.Imagem : "/Content/images/sem_foto.jpg")" class="img-fluid" alt="Colorlib Template"></a>
            </div>
            <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                <h3>@Model.Nome</h3>

                <p class="price"><span>@Model.Valor.Value.ToString("C")/@Model.UnidadeMedida</span></p>
                <p>
                    @Model.Descricao
                </p>
                <div class="row mt-4">

                    <div class="w-100"></div>
                    <div class="input-group col-md-6 d-flex mb-3">
                        <span class="input-group-btn mr-2">
                            <button type="button" class="quantity-left-minus btn menos" data-type="minus" data-field="">
                                <i class="ion-ios-remove"></i>
                            </button>
                        </span>
                        <input type="text" id="quantidade" name="quantidade" class="form-control" value="1">
                        <span class="input-group-btn ml-2">
                            <button type="button" class="quantity-right-plus btn mais" data-type="plus" data-field="">
                                <i class="ion-ios-add"></i>
                            </button>
                        </span>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-md-12">
                        <p style="color: #000;">@Model.Quantidade restantes</p>

                        <input id="qtdrestante" value="@Model.Quantidade" hidden disabled />

                    </div>
                </div>
                <p><a class="btn btn-black py-3 px-5" onclick="AddCarrinho(@Model.Id, '@Model.Nome', document.getElementById('quantidade').value, '@Model.Valor', '@Model.UnidadeMedida')">Adicionar ao carrinho</a></p>
            </div>
        </div>
    </div>
</section>

@section Scripts{

    <script src="~/Scripts/jquery.mask.js"></script>
    <script src="~/Scripts/jquery.maskMoney.min.js.js"></script>

    <script>

        function AddCarrinho(id, nome, quantidade, valor, unidademedida) {

            var qtdcarrinho = parseFloat($("#qtdcarrinho").val()) + 1;

            localStorage.setItem("qtdcarrinho" + 1, qtdcarrinho);
            $("#qtdcarrinho").val(localStorage.getItem("qtdcarrinho" + 1));

            var valorTotal = parseFloat(quantidade) * parseFloat(valor);

            localStorage.setItem("IdProduto" + (qtdcarrinho == 1 ? 0 : qtdcarrinho - 1), id);
            localStorage.setItem("NomeProduto" + (qtdcarrinho == 1 ? 0 : qtdcarrinho - 1), nome);
            localStorage.setItem("Quantidade" + (qtdcarrinho == 1 ? 0 : qtdcarrinho - 1), quantidade);
            localStorage.setItem("ValorUnitario" + (qtdcarrinho == 1 ? 0 : qtdcarrinho - 1), valor);
            localStorage.setItem("UnidadeMedida" + (qtdcarrinho == 1 ? 0 : qtdcarrinho - 1), unidademedida);
            localStorage.setItem("ValorTotal" + (qtdcarrinho == 1 ? 0 : qtdcarrinho - 1), valorTotal);

            alert("Produto adicionado ao carrinho!");
        }

        $(document).ready(function () {

            $(document).on('change', '#quantidade', function (e) {

                var qtd = parseFloat($(this).val());
                var max = parseFloat($(".qtdrestante").val());

                if (qtd > max) {
                    alert("Quantidade excedida!");
                    $("#quantidade").val(max)
                }

                if (qtd < 1) {
                    $("#quantidade").val(1)
                }

            })

            $(document).on('click', '.menos', function (e) {
                var qtd = parseFloat($("#quantidade").val());
                $("#quantidade").val(qtd - 1).trigger("change")
            })

            $(document).on('click', '.mais', function (e) {
                var qtd = parseFloat($("#quantidade").val());
                $("#quantidade").val(qtd + 1).trigger("change")
            })

        });


    </script>
}
