@model List<TGOrganicos.Data.Produto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="ftco-section">

    @if (TGOrganicos.Web.Models.Credential.IsProdutor())
    {
        <div class="text-right">
            <div class="mb-2">
                <a href="@Url.Action("Cadastro", "Produto")" class="btn-icon btn btn-primary btn-round btn-sm ">Adicionar</a>

            </div>
        </div>
    }


    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-10 mb-5 text-center">
                <ul class="product-category">
                    <li><a class="@(ViewBag.Tipo == null || ViewBag.Tipo == 0 ? "active" : "")" href="@Url.Action("Index", "Produto", new { tipo = 0})">Todos</a></li>
                    <li><a class="@(ViewBag.Tipo == 1 ? "active" : "") " href="@Url.Action("Index", "Produto", new { tipo = 1})">Vegetais</a></li>
                    <li><a class="@(ViewBag.Tipo == 2 ? "active" : "")" href="@Url.Action("Index", "Produto", new { tipo = 2})">Frutas</a></li>
                    <li><a class="@(ViewBag.Tipo == 3 ? "active" : "")" href="@Url.Action("Index", "Produto", new { tipo = 3})">Sucos</a></li>
                    <li><a class="@(ViewBag.Tipo == 4 ? "active" : "")" href="@Url.Action("Index", "Produto", new { tipo = 4})">Grãos</a></li>
                </ul>
            </div>
        </div>
        <div class="row">

            @foreach (var item in Model)
            {

                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="@(item.Imagem != null && item.Imagem != "" ? item.Imagem : "/Content/images/sem_foto.jpg")">
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">@item.Nome</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span>@item.Valor.Value.ToString("C")/@item.UnidadeMedida</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="@Url.Action("Detalhe", "Produto" , new { id=item.Id})" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                        <span><i class="ion-ios-menu"></i></span>
                                    </a>
                                    @if (TGOrganicos.Web.Models.Credential.IsProdutor())
                                    {
                                        <a href="@Url.Action("Cadastro", "Produto" , new { id=item.Id})" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                            <span><i class="ion-ios-refresh"></i></span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                            <span><i class="ion-ios-cart"></i></span>
                                        </a>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>

        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li><a href="#">&lt;</a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

@section Scripts{
    <script>


        $(document).ready(function () {

           
        });



    </script>


} 