@model TGOrganicos.Web.Models.PedidoCadastro
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Salvar", "Pedidos", FormMethod.Post, new { @class = "form-pedidos", role = "form", @id = "form-pedidos", @autocomplete = "off", enctype = "multipart/form-data" }))
{
    <section class="ftco-section ftco-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="cart-list">
                        <table class="table" id="table-carrinho">
                            <thead class="thead-primary">
                                <tr class="text-center">
                                    <th>&nbsp;</th>
                                    <th>Nome</th>
                                    <th>Preço</th>
                                    <th>Quantidade</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody id="body-carrinho">
                                @for (int i = 0; i < Model.Itens.Count; i++)
                                {
                                    <tr class="text-center">
                                        <td>
                                            @Html.HiddenFor(c => c.Itens[i].Index)
                                            @Html.HiddenFor(c => c.Itens[i].IdProduto)
                                            @Html.HiddenFor(c => c.Itens[i].IdPedido)
                                            <button type="button" role="button" class="btn-remove"><span class="ion-ios-close"></span></button>
                                        </td>

                                        <td class="product-name">
                                            @Html.TextBoxFor(c => c.Itens[i].NomeProduto)
                                        </td>

                                        <td class="price">
                                            @Html.TextBoxFor(c => c.Itens[i].ValorUnitario) / @Html.TextBoxFor(c => c.Itens[i].UnidadeMedida)
                                        </td>

                                        <td class="quantity">
                                            <div class="input-group mb-3">
                                                @Html.TextBoxFor(c => c.Itens[i].Quantidade , new {@class="quantity form-control input-number" })
                                            </div>
                                        </td>

                                        <td class="total">
                                            @Html.TextBoxFor(c => c.Itens[i].ValorTotal)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                
                <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                    <div class="cart-total mb-3">
                        <h3>Total</h3>
                        <p class="d-flex">
                            <span>Subtotal</span>
                            <span>R$21.50</span>
                        </p>
                        <hr>
                        <p class="d-flex total-price">
                            <span>Total</span>
                            <span>R$20.00</span>
                        </p>
                    </div>
                    <p><a href="checkout.html" class="btn btn-primary py-3 px-4">Finalizar compra</a></p>
                </div>
            </div>
        </div>
    </section>
}

